/* Container for Change Password */
.change-password-container {
    background-color: #0A082D;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #25284B;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #9089A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  /* Heading */
  .change-password-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #717CA5;
    text-align: center;
  }
  
  /* Form Styles */
  .change-password-container form {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 16px;
    color: #9089A5;
    margin-bottom: 10px;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #25284B;
    border-radius: 5px;
    background-color: #1E1E66;
    color: #fff;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #5d37f5;
  }
  
  /* Button */
  button[type="submit"] {
    background-color: #5d37f5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #4b2fc1;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .change-password-container {
      width: 100%;
      padding: 10px;
    }
  
    .form-group input {
      padding: 8px;
    }
  
    button[type="submit"] {
      padding: 8px 16px;
    }
  }
      