
.container-profile{
  padding-top: 20px;
  background-color: #1e1e66;
  height: 100%;
   
}
.navbar-breadcrumb {
  background-color: #5d37f5; /* Màu nền */
  border-radius: 20px; /* Bo tròn góc */
  padding: 10px 20px; /* Khoảng cách bên trong */ 
  margin: 0;
}
.navbar-breadcrumb .breadcrum-userprofile-home {
  background-color: #5d37f5; 
  color: #fff; 
  border-radius: 20px; 
  padding: 10px 20px; 
  text-decoration: none; 
  transition: background-color 0.3s ease;
  font-weight: 700;
} 
.breadCrumb-href .breadcrum-userprofile-home:hover {
  background-color: #34333b; /* Màu nền khi hover */
}

/* Profile card style */
.profile-card {
  border: none;
  margin: 0 10px;
  background-color: #fff !important; /* Màu nền cho card */
}

/* Profile image */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Upload button style */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Style for card */

.card-info{
  margin: 0 0px;
  .card{
    width: 990px;
  }
  
}
/* Các style cho button */
.btn-warning {
  color: white;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}


