*{
    margin: 0;
    padding: 0;
}
.pro-sidebar{
    height: 100%;
    z-index: 100; 
    
}

.pro-sidebar-header{
    background-color:  #0A092D;
}
.pro-sidebar-content{
    background-color:  #0A092D;
} 

.pro-sidebar-footer{
    background-color:  #0A092D;
}



