* {
    margin: 0;
    padding: 0;
}

.pro-sidebar {
    height: 100%;
    z-index: 100;
}

.pro-sidebar-header,
.pro-sidebar-content,
.pro-sidebar-footer {
    background-color: var(--body_background-bar);
}

.pro-menu-item .pro-icon svg{
    color: var(--body_icon);
    
}

.pro-menu-item  span{
 
    background-color:  transparent !important;
}
.pro-menu-item p {
    color: var(--body_color) ; 
}
.pro-item-content  {
    color: var(--body_color) ; 
}
.pro-menu a{
    color: var(--body_color) !important;
}
.pro-sidebar .home-menu-item:hover .nav-link {
    background-color: #007bff !important;
    color: #fff !important; /* Hover color for nav-link */
}

.logoimg {
    margin-left: 3.6px;
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.pro-inner-list-item{
    background-color: var(--body_background) !important;
}