.Right-ctn{
    margin-left: 20px;
    margin-top: 10px;
    width: 700px;
    background-color: #222222;
 
    border-radius: 20px;
   
}
.Left-ctn{
    margin-left: 150px;
    margin-top: 20px;
    background-color: #222222;
    padding: 0 20px;
    border-radius: 20px;
    overflow-y: auto;
    height: 600px;
    
}