.Classes-container {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    .header-banner {
        background-color: #e6f7ff; 
        color: #333;
        border-radius: 10px;
        padding: 10px;
        position: relative;

        h3 {
            font-size: 1.2rem;
            margin: 0;
        }

        p {
            font-size: 0.9rem;
            margin: 5px 0;
        }

        .close-button {
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
            font-size: 1rem;
            color: #333;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }
    }

 


   
}
