.font-size-changer {
    display: flex;
    align-items: center;
}

.font-size-changer button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Kích thước biểu tượng */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    transition: transform 0.2s;
    color: var(--body_icon);
}

.font-size-changer button:hover {
    transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
}
